<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
</head>

<body>
    <a href="/addTask/">Add Task</a>
    <a href="/kill/">Kill</a>
    <table>
        <tr>
            <th>
                Task Name
            </th>
            <th>
                Point Value
            </th>

        </tr>
        {% for task in tasks %}
        <tr>
            <td>
                {{task.name}}
            </td>
            <td>
                {{task.point}}
            </td>
        </tr>
        {% endfor %}

    </table>

    <a href="/random/">Random</a>

</body>

</html>

